@charset "utf-8";

*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

a#navicon{
    display:none;
}

/* Mobile Styles: 0px to 480px */
@media only screen and (max-width:480px){

    body{
        border:0px;
    }

    nav.navbar a{
        font-size: 1.5em;
        line-height: 2.2em;
    }

    a#navicon{
        display:block;
    }

    nav.navbar ul{
        display:none;
    }

    a#navicon:hover+ul nav.navbar ul:hover{
        display:block;
    }

    /* table repsonsive design for mobile */
    th{ 
        display:none;
    }
    td{
        display:block;
    }
}

/* Tablet Styles: 481px+ */
@media only screen and (min-width: 481px){

    body{
        border:0px;
    }

    ul.menu > li{
        float: left;
        position: relative;
        width: 20%;
    }

    ul.submenu{
        box-shadow: rgb(#4D5FB8, #4D5FB8, #4D5FB8) 5px 5px 15px;
        position:absolute;
        width: 200%;
    }
}
/* Desktop Styles: 769px+ */
@media only screen and (min-width: 769px){
    ul.submenu{
        background: transparent;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
    }

    nav.navbar::after{
        clear: both;
        content: "";
        display: table;
    }

    nav#navbar a{
        color: rgb(255,255,255);
        font-size: 2em;
        letter-spacing: 0em;
        text-shadow:  #4D5FB8 1px -1px 1px;
        transition: color 1.5s ease-in 0.5s,
        font-size 2s ease,
        letter-spacing 2s ease-out,
        text-shadow 2s cubic-bezier(0.6, 0, 0.8, 0.5);
     }
     
     nav#navbar a:hover{
        color: #7B94EC;
        font-size: 3em;
        letter-spacing: 0.1em;
        text-shadow: #4D5FB8 15px -3px 8px;
     }

}

html{
    background: url(backgroundImage.jpeg) space;
    background-color: #4D5FB8;
}
body{
    border: 5px solid #4D5FB8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:auto;
    margin-right: auto;
    color: black;
    background: linear-gradient( #f88c75, #fabe6a, #ffe587,#fdfbd9,#ecb7ea, #4d5fb8);
    max-width: 960px;
    min-width: 640px;
    width:95%;
}

a:hover{
    background-color: #4D5FB8;
    opacity: .5;
    font-size: 20px;
}



/* Header styles */

nav{
    background: url(navbarImage.jpg);
    height: 80px;
    width:100%;
}

body > header > nav.navbar li{
    width: 33.333%;
    display: block;
    float: left;
}

nav.navbar a{
    font-size: 2em;
    display: block;
    color:white;
}


ul.submenu{
    display: none;
}

a.submenuTitle:hover+ul.submenu, ul.submenu:hover{
    display:block;
}

.title{
    position: relative;
    text-align: center;
}

.title img{
    display: block;
    margin: 0 auto;
    width: 50%;
}

#header{
    color: #7B94EC;
    font-size:1.5em;
    text-shadow: 2px 2px #263688;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,h2{
    color: #7B94EC;
    font-size:1.5em;
    text-shadow: 2px 2px #263688;
    position: absolute;
}

figure{
    margin: 20px auto 30px;
    width: 80%;
    background-color: black;
}

figure img{
    display:block;
    width: 100%;
    transform: rotate(2.5deg);
    filter: blur(1.3px) hue-rotate(90deg) brightness(1) drop-shadow(20px 10px 25px #4D5FB8);
}

figure figcaption{
    background-color: white;
    font-style: bold;
    text-align: center;
    border: 2px solid #7B94EC;
}


#tableHeading{
    margin-left: 50%;
    margin-bottom: 5%;
}

/*
table.headings{
    font-size: 3em;
    color: orange;
}
    */


table.portfolioLinks{
    background:white;
    border: 10px inset #4E60BA;
    font-size: 1em;
    width: 100%;
    border-collapse: collapse;
}


table.portfolioLinks th, table.portfolioLinks td{
    border: 1px solid gray;
}

table.portfolioLinks thead{
    background-color: #f88c75;
    color: black;
    font-size: 1.5em;
}

table.portfolioLinks tfoot{
    background-color: #4d5fb8;
    color: white;
}

table.portfolioLinks tbody{
    background: linear-gradient( #f88c75, #fabe6a, #ffe587,#fdfbd9,#ecb7ea, #4d5fb8);
    color: black;
}

col#chapters{
    font-size: 3em;
    width: 16%;
}

col.descriptions{
   background-color: orange;
   width: 12%;
}


div.row{
    clear: both;
    display: flex;
justify-content: center;
align-items: center;
}

div.row::after{
    clear:both;
    content: "";
    display:table;
}


div[class^="col-"]{
    float:left;
}

div.col-1-3 {width:33.33%;}

.asides{
    display: flex;
    column-gap: 20px;
    border: 5px double #7B94EC;
}

aside#video1{
    display: inline-block;
}

aside#video2{
    display: inline-block;
}

aside#song{
    display: inline-block;
    background: url(Vanilla_twilight.jpg) no-repeat;
}

footer{
    text-align:center;
    background-color: #4E60BA;;
    color: white;
}

/* form styles 
make sure to add javacript submit and reset
*/
/*
div.formRow{

}
*/
legend{
    background-color: #4d5fb8;
    color:white;
    padding: 5px;
}

textarea{
    margin-top: 10px;
    height: 100px;
    width: 95%;
}

div#buttons{
    text-align: center;
    width: 100%;
}

input[type='submit'], input[type='reset']{
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
}