/* Final Project by Kerri Reed */

@charset "utf-8";

/* reset styles */
*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

/* navicon only displays for phones displays*/
a#navicon{
    display:none;
}

/* Mobile Styles: 0px to 480px */
@media only screen and (max-width:480px){

    nav.navbar a{
        font-size: 1.5em;
        line-height: 2.2em;
    }

    a#navicon{
        display:block;
    }

    nav.navbar ul{
        display:none;
    }

    a#navicon:hover+ul nav.navbar ul:hover{
        display:block;
    }
}

/* Tablet Styles: 481px+ */
@media only screen and (min-width: 481px){


    ul.menu > li{
        float: left;
        position: relative;
        width: 20%;
    }

    ul.submenu{
        box-shadow: rgb(#4D5FB8, #4D5FB8, #4D5FB8) 5px 5px 15px;
        position:absolute;
        width: 200%;
    }
}

/* Desktop Styles: 769px+ */
@media only screen and (min-width: 769px){
    ul.submenu{
        background: transparent;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
    }

    nav.navbar::after{
        clear: both;
        content: "";
        display: table;
    }

    nav#navbar a{
        color: rgb(255,255,255);
        font-size: 2em;
        letter-spacing: 0em;
        text-shadow:  #4D5FB8 1px -1px 1px;
        transition: color 1.5s ease-in 0.5s,
        font-size 2s ease,
        letter-spacing 2s ease-out,
        text-shadow 2s cubic-bezier(0.6, 0, 0.8, 0.5);
     }
     
     nav#navbar a:hover{
        color: #7B94EC;
        font-size: 3em;
        letter-spacing: 0.1em;
        text-shadow: #4D5FB8 15px -3px 8px;
     }

     html{
        background: url(backgroundImage.jpeg) space;
        background-color: #4D5FB8;
    }

    body{
        border: 5px solid #4D5FB8;
    }
}


body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-left:auto;
    margin-right: auto;
    color: black;
    background: linear-gradient( #f88c75, #fabe6a, #ffe587,#fdfbd9,#ecb7ea, #4d5fb8);
    max-width: 960px;
    min-width: 640px;
    width:95%;
}

a:hover{
    background-color: #4d5fb8;
    opacity: .5;
    font-size: 20px;
}



/* Header styles */

nav{
    background: url(navbarImage.jpg);
    height: 80px;
    width:100%;
}

body > header > nav.navbar li{
    width: 33.333%;
    display: block;
    float: left;
}

nav.navbar a{
    font-size: 2em;
    display: block;
    color:white;
}

/* responsive design elements */

ul.submenu{
    display: none;
}

a.submenuTitle:hover+ul.submenu, ul.submenu:hover{
    display:block;
}

/* styles for each header */
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title img{
    display: flex;
    width: 50%;
}

h1,h2{
    color: #7B94EC;
    font-size:1.5em;
    text-shadow: 2px 2px #263688;
    position: absolute;
}

/* figure image styles */

figure{
    display: block;
    margin: 5% auto;	
	padding-bottom: 10px;
	width: 60%;
    background-color: black;
}

/* styles added to image */

figure img{
    display:block;
    width: 100%;
    transform: rotate(2.5deg);
    filter: blur(1.3px) grayscale(.8) brightness(1) drop-shadow(25px 10px 25px #4D5FB8);
}

figure figcaption{
    background-color: white;
    font-style: bold;
    text-align: center;
    border: 2px solid #7B94EC;
}

/*
#tableHeading{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tableHeading img{
    display: flex;
    width: 50%;
}
*/

/* Table styles */


table.portfolioLinks{
    background:white;
    border: 10px outset #4E60BA;
    font-size: 1em;
    color:black;
    width: 100%;
    border-collapse: collapse;
    margin:5%;
}

table.portfolioLinks caption{
    caption-side: bottom;
    text-align: right;
}

table.portfolioLinks th, table.portfolioLinks td{
    border: 1px solid black;
}
table.portfolioLinks td{
padding: 1%;
}

/* row group styles */
table.portfolioLinks thead{
    background-color: #f88c75;
    color: black;
    font-size: 1.5em;
}

table.portfolioLinks tfoot{
    background-color: #4d5fb8;
    color: white;
}

table.portfolioLinks tbody{
    background: linear-gradient( #f88c75, #fabe6a, #ffe587,#fdfbd9,#ecb7ea, #4d5fb8);
    color: black;
}

/* col group styles */
col#chapters{
    font-size: 3em;
    width: 10%;
    font-weight:bold;
}

col.descriptions{
   width: 60%;
}

/* styles for div rows for grid layout */

div.row{
    clear: both;
    width: 100%;
    display: flex;
}

div.row::after{
    clear:both;
    content: "";
    display:table;
}


div[class^="col-"]{
    float:left;
}

div.col-1-2{
    width:50%;
    margin: 5%;
}


/* audio and visual styles */

section#videos{
    float:left;
    box-shadow: rgb(51,51,51) 8px 8px 15px;
}

section#videos iframe,p{
    padding:3%;
}
    

section#song{
    clear: left;
    float: left;
    box-shadow: rgb(51,51,51) 8px 8px 15px;
}

section#song p{
    padding: 3%;
}

section#song img{
    padding: 5%;
}
    
/* Form styles */


/* Align form in cetner responsively */

#surveyRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#classSurvey{
    width: 80%;   
    margin:5%;
}

legend{
    background-color: #4d5fb8;
    color:white;
    padding: 5px;
}

/* add space after each input element */ 

input{ 
    margin:.5%;
}

textarea{
    margin-top: 10px;
    height: 100px;
    width: 95%;
}

div#buttons{
    text-align: center;
    width: 100%;
}

input[type='submit'], input[type='reset']{
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
}

/* Validation Styles (taken from textbook) */

input:focus, select:focus, textarea:focus{
    background-color: white;
 }
 
 input#name:focus:valid,
 input#phone:focus:valid,
 input#mail:focus:valid{
    background: rgb(224, 255, 217);
 }
 
 input#name:focus:invalid,
 input#phone:focus:invalid,
 input#mail:focus:invalid{
    background: rgb(229, 130, 130);
 }

 footer{
    text-align:center;
    background-color: #4E60BA;;
    color: white;
}